<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>
  <body>
    <!-- header session -->
    <%- include('title.ejs') %>
    <!-- main session -->
    <main class="contact-content-main">
      <div class="contact-page">
        <h1>Bhuvana</h1>
        <h2>&#60;Developer&#47;&#62;</h2>
        <p>Passinate about science and technology..!!🚀</p>
        <p>
          Email:
          <a href="mailto:bhuvanaofficial001@gmail.com"
            >bhuvanaofficial001@gmail.com</a
          >
        </p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-geo-alt-fill location"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
            />
          </svg>
          Location: Chennai
        </p>
      </div>
    </main>
    <!-- footer -->
    <%- include('footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
